.app_wrapper {
  width: 100%;
  min-height: 100%;
  background-color: rgb(238, 245, 252);
  .app_siderbar {
    background-color: skyblue;
    transition: all 0.2s ease-in;
  }
  .app_container {
    .app_header {
      height: 50px;
      padding: 4px;
      background-color: #fff;
    }
    .app_content {
      padding: 10px;
    }
    .app_footer {
      height: 50px;
    }
  }
}
